/* Présentation */
#presentation{
    padding-top: 5em;
    padding-bottom: 5em;
}

#presentation a{
    text-align: center;
    text-decoration: none;
    color: rgb(250, 123, 123);
    font-size: 1.2em;
}

.presentation{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

h1{
    text-align: center;
    font-size: 2em;
}

.presentation img{
    grid-column: 1;
    grid-row: 1;
    margin-left: 50%;
    margin-top: 5%;
}

.presentation p{
    text-align: justify;
    font-size: 1.2em;
    background-color: rgb(247, 246, 246);
    grid-column: 2;
    grid-row: 1;
}

/* Compétences */
#competences{
    background-color: rgb(241, 241, 241);
}

.competences{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.competences .prog{
    margin-left: 40%;
    grid-column: 1;
    grid-row: 1;
}

.competences .logiciels{
    margin-left: 40%;
    grid-column: 2;
    grid-row: 1;
}

.competences .langue{
    margin-left: 20%;
    grid-column: 3;
    grid-row: 1;
}

.competences ul li:hover{
    font-size: 1.5em;
}

/*Diplômes*/
#diplomes{
    padding-top: 5em;
    padding-bottom: 5em;
}

.diplomes{
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);*/
    display: flex;
    justify-content: center;
}

.diplomes p{
    font-size: 1.2em;
}

.diplomes .but{
    /*margin-left: 60%;
    grid-column: 1;
    grid-row: 1;*/
    text-align: center;
}

.diplomes .bac{
    /*margin-left: 15%;
    grid-column: 2;
    grid-row: 1;*/
    text-align: center;
}

/*Portfolio*/
#portfolio{
    background-color: rgb(241, 241, 241);
}

#portfolio>h2{
    text-align: center;
    color: rgb(90, 89, 89);
}

.portfolio section{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    margin-bottom: 3em;
}

.portfolio h2{
    margin-left: 1em;
    color: rgb(238, 99, 99);
}

.portfolio section img{
    grid-column: 1;
    grid-row: 1;
    width: 20em;
}

.portfolio section p{
    font-size: 1.3em;
    text-align: justify;
    margin-left: 1em;
    grid-column: 2;
    grid-row: 1;
}

/*Contacts*/
#contact{
    border: solid;
}
#contact h1{
    text-align: center;
}
#contact h3{
    /*margin-left: 38%;*/
    text-align: center;
}


/*Soft-Skills*/
#softskills>section{
    /*display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);*/
    display: flex;
    justify-content: center;
}

#softskills>section section{
    text-align: center;
}

#softskills .card{
    margin-right: 2%
}


/*Passions*/
#passions>section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

#passions>section section{
    text-align: center;
}