header nav{
    border-style: groove;
}

header nav ul{
    list-style-type: none;
    white-space: nowrap;
}

nav a{
    margin-right: 3%;
    color: rgb(103, 103, 103);
    text-decoration: none;
}

nav ul a:hover{
    text-decoration: underline;
}

#CV{
    color: red;
}