<h1>- Compétences -</h1>

<div>

    <div>
        <h2>⌨️ Langages informatiques</h2>
        <ul>
            <li>Java / Spring</li>
            <li>Angular</li>
            <li>Javascript / Typescript</li>
            <li>HTML / CSS</li>
            <li>SQL</li>
        </ul>
    </div>

    <div>
        <h2>💻 Logiciels</h2>
        <ul>
            <li>VSCode</li>
            <li>IntelliJ</li>
            <li>PostgreSQL</li>
        </ul>
    </div>

    <div>
        <h2>🌍️ Langues</h2>
        <ul>
            <li>Anglais: A2+</li>
        </ul>
    </div>

</div>