<h1>- Diplômes -</h1>

<div>
    <div>
        <h2>🎓 BUT Informatique </h2>
        <p><strong>Parcours :</strong> Réalisation d'applications </p>
        <p>IUT de Lille, Villeneuve-d'Ascq</p>
        <p class="year">Année d'obtention : 2026</p>
    </div>

    <div>
        <h2>🎓 DUT Informatique </h2>
        <p><strong>Parcours :</strong> Réalisation d'applications </p>
        <p>IUT de Lille, Villeneuve-d'Ascq</p>
        <p class="year">Année d'obtention : 2025</p>
    </div>

    <div>
        <h2>🎓 Baccalauréat général </h2>
        <p><strong>Mention :</strong> Assez bien </p>
        <p><strong>Spécialités :</strong> Mathématiques, Numérique et sciences de l'informatique</p>
        <p>Lycée des Flandres, Hazebrouck</p>
        <p class="year">Année d'obtention : 2023</p>
    </div>
</div>