<app-experience-card 
    title="Création d'un jeu multijoueur"
    img="img/steve.png"
    desc="Ce projet avait pour objectif de mettre en pratique ce que nous avons appris lors des cours de javascript.
Pour ce projet nous devions créer un jeu style agar.io en développant tout le côté client et le serveur.
Le but du jeu est de récupérer de la nourriture afin de grossir pour pouvoir manger les autres joueurs ou bots.
Pour nous aider à gagner la partie, il est possible de ramasser des bonus comme un boost de vitesse ou encore geler les autres joueurs."
    langages="Javascript, HTML, CSS"
    link="https://github.com/Quentin-Lyoen/Jeu-Multijoueur"
/>

<app-experience-card
    title="Création d'une application web de conversations"
    img="img/campustalk.png"
    desc="Ce projet avait pour objectif de mettre en pratique ce que nous avons appris lors des cours de web.
Pour ce projet nous devions créer une application web de conversation grâce à des servlets et des jsp. Nous avons aussi dû mettre en place une base de données.
Sur cette application nous pouvons rejoindre un fil de discussion et discuter avec d'autres utilisateurs."
    langages="Java, JSP, REST API, Servlets, SQL"
    logiciels="PostgreSQL, Tomcat"
    link="https://github.com/Quentin-Lyoen/Chat-en-ligne" />

<app-experience-card 
    title="Classification des données avec l'algorithme KNN"
    img="img/knn.png"
    desc="Ce projet avait pour objectif de nous apprendre à classifier des données grâce à des données fournies.
Pour ce projet nous devions créer une application qui permet à l'utilisateur de fournir ses propres données afin de pouvoir les classifier.
L'application utilise ensuite l'algorithme KNN afin de classifier des données créées par l'utilisateur."
    langages="Java, JavaFX, Algorithme KNN"
    link="https://github.com/Quentin-Lyoen/Classification-knn" />