:host {
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

h1 {
    font-weight: bold;
    font-size: 3em;
}

section {
    padding: 0 2em 0 2em;
    border: 1px solid rgba(148,163,184,.25);
    border-radius: 10px;
    font-size: 1.1em;
    line-height: 1.6;
    background-color: #111827;
}

a {
    color: white;
    text-decoration: none;
    border: 1px solid rgba(148,163,184,.25);
    border-radius: 20px;
    margin-top: 10px;
}

a:hover {
    font-weight: bold;
    border-color: black;
}