<h1>- À propos de moi -</h1>

<section>
    <p>Je suis actuellement étudiant en troisième année de BUT informatique. Cette formation était pour moi une évidence car j'aime
        programmer depuis le collège. J'y ai développé beaucoup de jeux, mais qui sont restés privés. Aujourd'hui je suis toujours
        animé par cette passion de créer des choses grâce à l'informatique. Je suis très curieux et j'aime apprendre de nouveaux langages informatiques
        afin de monter en compétences. Les nouvelles technologies et les enjeux qui y sont liés m'intriguent profondément. 
        <br><br>
        En entreprise, j'ai une attitude professionnelle grâce à ma rigueur, mon adaptabilité et l'importance que j'apporte à l'entraide et le travail d'équipe.
        C'est vrai que je peux avoir du mal à gérer les situations de stress, en raison d'un petit manque de confiance en moi, mais je ne prendrais jamais de décision à la légère. Je demanderais toujours un avis avant de le faire.
        Quand la situation le permet, j'essaie aussi de prendre quelques décisions ou initiatives moi-même lors du développement par exemple.
        Lorsque je demande de l'aide ou que j'apporte mon aide, je prête attention à la façon dont mon interlocuteur réagit face à moi afin d'essayer de m'adapter au mieux et d'éviter tout quiproquo.
        Je sais écouter et prendre en compte tous les conseils que l'on me donne. Apprendre, se tromper et évoluer fait partie intégrante du métier de développeur informatique qui est, aujourd'hui, mon objectif professionnel.
        <br><br>
        Actuellement, je recherche une alternance dans le développement informatique pour une première année de master devant débuter en septembre 2026.
        <br><br>
        Si vous souhaitez en apprendre davantage sur moi, je vous invite à explorer ce site ou à télécharger mon CV !
    </p>
</section>

<a href="./softskills.html"><p style="text-align: center;">👉​ En savoir plus sur mes savoirs être 👈​</p></a>