<app-experience-card
    title="Site internet vitrine de coiffure"
    img="img/coiffeur.png"
    desc="Ce projet avait pour objectif de développer et mettre en place un site internet vitrine de coiffure.
Pour ce projet, j'ai collaboré avec une coiffeuse afin que je puisse développer un site web présentant son salon et son travail.
J'ai donc développé ce site en suivant ce que la cliente souhaitait au niveau du style du site et des éléments présents sur le site."
    langages="HTML, CSS, JS"
    link="https://ilouellecoiffure.fr/" />

<app-experience-card
    title="Développement d'un jeu pour une TriJam"
    img="img/trijam.PNG"
    desc="Ce projet avait pour objectif de développer un jeu vidéo durant une TriJam.
Une TriJam est un concours de développement où nous devons respecter un thème et une limite de temps.
J'ai donc développé un jeu clicker sur le thème du minage durant 3h sur le logiciel Construct 2."
    logiciels="Construct 2"
    link="https://quentinl0l.itch.io/theminingbloc" />